.container {
  height: 700px;
  width: 700px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr)
}

/* .tile {
  border: 1px solid black;
  height: 100px;
  width: 100px
} */

.tile:hover{
  background: pink;
}

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

