.container {
  height: 700px;
  width: 700px;
  border: 1px solid black;
  display: grid;
}

/* .tile {
  border: 1px solid black;
  height: 100px;
  width: 100px
} */

.moused {
  background: pink
}

/* .tile:hover{
  background: pink;
} */

.flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.blue {
  background: purple;
}

